@keyframes moveTheme{
  20%{
    transition: transform;
    transition-duration: 10s;
    transform: translateX(-98.8%);
  }
  40%{
    transform: translateX(-197.8%);
  }
  60%{
    transform: translateX(-297.5%);
  } 
  80%{
    transform: translateX(-197.8%);
  }
  100%{
    transform: translateX(-98.8%);
  }
}

@keyframes arrowInline{
  100%{
    transition-property: display;
    transition-duration: 1s;
    display: inline;
  }
}