@keyframes moveTheme{
  16%{
    transition: transform;
    transition-duration: 10s;
    transform: translateX(-99.8%);
  }
  32%{
    transform: translateX(-199.8%);
  }
  48%{
    transform: translateX(-299.3%);
  } 
  64%{
    transform: translateX(-199.5%);
  }
  80%{
    transform: translateX(-99.8%);
  }
  100%{
    transform: translateX(0);
  }
}