@keyframes moveTheme{
  16%{
    transition: transform;
    transition-duration: 10s;
    transform: translateX(-98.7%);
  }
  32%{
    transform: translateX(-197.8%);
  }
  48%{
    transform: translateX(-297.5%);
  } 
  64%{
    transform: translateX(-197.8%);
  }
  80%{
    transform: translateX(-98.8%);
  }
  100%{
    transform: translateX(0);
  }
}