// 메인 컬러
$primary-color : #5F0080;
$secondary-color: #BD76FF;
$accent-color: #FA622F;
$font-basic: #333333;
$error-color: #F03F40;

// 보조 컬러
$white : #ffffff;
$black: #000000;

// Gray
$gray1: #F9F9F9;
$gray2: #E1E1E1;
$gray3: #C4C4C4;
$gray4: #A6A6A6;
$gray5: #898989;
$gray6: #6B6B6B;
$gray7: #565656;
$gray8: #404040;
$gray9: #2B2B2B;
$gray10:#151515;

// Blue
$blue1: #CCE0FF;
$blue2: #99C2FF;
$blue3: #66A3FF;
$blue4: #3385FF;
$blue5: #0066FF;
$blue6: #0052CC;
$blue7: #003D99;
$blue8: #002966;
$blue9: #001433;
