@use "unit" as *;

// 스프라이트 배경이미지
.sprite {
  /* min-height: rem(60px); */
  background-image: url(../../image/MenuIcon.png);
  background-repeat: no-repeat;
  background-size: 24px;
  /* padding-left: rem(64px); */

  $sprites: Gift, Vegetable, Fruits, Fish, Meat, Main, Salad, Noodle, Water,
    Dessert, Bakery, Health, Wine, Traditional, Living, Skin, Hair, Kitchen,
    Electronic, Pet, Baby, Travel;
  $x: 0;
  $y: 0;
  @each $sprite in $sprites {
    &#{$sprite} {
      background-position: $x $y;
    }
    $y: $y - rem(20px);
  }
}
