@use "./../utils" as *;

// 메인영역 슬라이드 컨테이너
.slide {
  margin-bottom: 30px;

  // 슬라이드 정지 버튼
  &__BtnWrapper {
    @include posRB(5%, 5%);
    z-index: 1;
  }

  &__Btn {
    appearance: none;
    width: 60px;
    height: 20px;
    border: 2px solid $white;
    border-radius: 50px;
    background: transparent;

    // 정지버튼 클릭 시 동그라미 슬라이드 및 색 변경
    &:checked + .slide__BtnClick {
      transition: transform, background-color;
      transition-duration: 0.5s, 0.2s;
      transform: translateX(40px);
      background-color: $primary-color;
    }
    // 정지버튼 클릭 시 배경 색 변경
    &:checked ~ .slide__BtnBg {
      @include transition(background-color, 0.5s);
      background-color: $white;
    }
  }

  &__BtnClick {
    @include posLT(2px, 2px);
    @include transition(transform, 0.5s);
    transform: translateX(0);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $white;
    z-index: -1;
  }

  &__BtnBg {
    @include posLT(1px, 1px);
    @include transition(background-color, 0.5s);
    background-color: transparent;
    width: 60px;
    height: 20px;
    border-radius: 50px;
    z-index: -2;
  }

  // 슬라이드 이미지 컨테이너
  &__box {
    @include pos;
    max-width: 1760px;
    @include autoMargin;
    overflow: hidden;
  }

  &__imgWrapper {
    @include flexbox;
    @include slideImg;
    width: 400%;

    // 슬라이드 영역에 호버 시 화살표 이미지 생성
    &:hover ~ .slide__arrow--left,
    &:hover ~ .slide__arrow--right {
      @include transition(opacity, 0.5s);
      opacity: 1;
    }
  }

  &__arrow--left {
    @include posLT(15%, 50%);
    @include transY(-50%);
    @include transition(opacity, 0.5s);
    opacity: 0;
  }

  &__arrow--right {
    @include posRT(15%, 50%);
    @include transition(opacity, 0.5s);
    transform: translateY(-50%) rotate(180deg);
    opacity: 0;
  }
}

// 상품 리스트 컨테이너
.sugge {
  @include basicWidth;
  margin-top: 30px;
  margin-bottom: 50px;

  // 이 상품 어때요, 놓치면 후회할 가격
  &__name {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
  }

  &__goods {
    // 상품 컨테이너
    &Box {
      @include flexbox {
        column-gap: 20px;
      }
    }

    // 상품 리스트
    &List {
      @include flexbox($fd: column);
    }

    // 상품 이름
    &Title {
      padding-top: 15px;
      height: 45px;
      &:hover {
        color: $primary-color;
        font-weight: 600;
      }
    }

    // 상품 가격 컨테이너
    &PriceBox {
      padding-top: 20px;
      @include flexbox($fd: column);
    }

    &delPrice {
      color: $gray5;
      font-size: 13px;
      order: 1;
    }

    &CurDisBox {
      @include flexbox;
      padding-bottom: 10px;
      width: 100%;
    }

    &CurrentPrice {
      font-size: 18px;
      font-weight: 600;
    }

    &DiscountPercent {
      color: $accent-color;
      font-size: 22px;
      font-weight: 600;
      padding-right: 10px;
      order: -1;
    }

    // 상품 이미지 박스
    &Link {
      @include flexbox;
      overflow: hidden;

      &:hover > .sugge__goodsImg {
        @include ImageScale;
      }
    }

    // 상품 이미지 영역 컨테이너
    &ImgBox {
      @include pos;
      order: -1;
    }

    // 상품 이미지 박스
    &Imges {
      @include pos;
    }

    &Img {
      object-fit: cover;
      @include transition(transform, 0.5s);
      transform: scale(100%);
    }

    // 장바구니 이미지
    &BasketImg {
      width: 40px;
      height: auto;

      &:hover {
        transform: scale(110%);
      }
    }

    // 상품 더보기 화살표
    .sugge__arrow {
      @include posRT(-25px, 43%);
      background: $white;
      color: $gray7;
      font-size: 40px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      line-height: 48px;
      text-align: center;
      box-shadow: -1px 1px 8px $gray2, 1px -1px 8px $gray2;
    }
  }

  // 장바구니 모달창
  &__modal {
    @include padding(20px);
    @include transition(opacity, 0.5s);
    background: $white;
    box-shadow: 0px 0px 0.13rem rgb(149, 128, 156);
    position: fixed;
    right: 30px;
    bottom: 10px;
    z-index: 50;
    text-align: center;
    width: 350px;
    height: 120px;
    border-radius: 10px;
    opacity: 0;
  }

  .modalImg {
    width: 100px;
  }

  .modalp {
    font-size: 18px;
    color: $gray9;
    text-shadow: 1px -1px 2px $white;
  }

  .best__goodsBasketImg:checked + .sugge__modal {
    @include showModal;
  }
}

// 중간 광고 컨테이너
.advert {
  @include basicWidth;
  @include marginY(100px);
}

//에드블록 컨테이너
.sticky--absolute {
  @include posRT;
  right: 20px;
  top: 590px;
  width: 80px;
  height: 1420px;
}

.adBlock {
  @include padding(7px);
  @include flexbox($fd: column);
  position: sticky;
  top: 40%;
  background: $white;
  width: 80px;
  height: 350px;
  border: 1px solid $gray2;
  text-align: center;
  z-index: 500;

  &__topArrow {
    @include autoMargin;
    width: 10px;
    order: -1;
    transform: rotate(270deg);
    color: $gray4;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      color: $black;
    }
  }

  &__title {
    @include paddingY(8px);
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__ImgBox {
    width: 100%;
    height: 300px;
    text-overflow: clip;
    overflow: hidden;
  }

  &__linkImg {
    margin-bottom: 3px;
  }

  &__bottomArrow {
    @include autoMargin;
    width: 10px;
    margin-top: 10px;
    transform: rotate(90deg);
    color: $gray4;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      color: $black;
    }
  }
}
