@use "./../utils" as *;

// 메인영역 컨테이너
.MKmain{
}

// 메인영역 슬라이드 컨테이너
.slide{
  margin-bottom: 100px;
  &__imgWrapper{
    @include pos;
    @include flexbox;
    // @include slideAni;

    &:hover + .slide__arrow{
      display: inline;
    }
  }

  &__imglink{
    background: pink;
    width: 1920px;
    height: 370px;
  }

  .slide__imglink:nth-child(2){
  background: yellow;
  }

  .slide__imglink:nth-child(3){
    background: skyblue;
}

    .slide__imglink:nth-child(4){
      background: salmon;
      }

  &__img{
    width: 200%;
    height: 100%;
  }

  &__arrow{
    display: none;

    &--left{
      @include posLT(10%, 159px);
    }
    &--right{
      transform: rotateY(180deg);
      @include posRT(10%, 159px);
    }
  }
}

// 메인영역상품 설명 컨테이너
.sugge{
  @include basicWidth;
  margin-top: 30px;

  &__name{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
  }

  &__goods{
    &List{
      @include flexbox($fd:column);
    }

    &Box{
      @include flexbox{
        column-gap: 20px;
      };
    }

    &Title{
      padding-top: 15px;
      &:hover{
        color: $primary-color;
        font-weight: 600;
      }
    }
    
    &Link{
    @include flexbox;
    };

    &PriceBox{
      padding-top: 20px;
      @include flexbox($fd:column);
    }

    &delPrice{
      color: $gray5;
      font-size: 13px;
      order: 1;
    };

    &CurDisBox{
      @include flexbox;
      padding-bottom: 10px;
      width: 100%;
    }

    &CurrentPrice{
      font-size: 18px;
      font-weight: 600;
    };

    &DiscountPercent{
      color: $accent-color;
      font-size: 22px;
      font-weight: 600;
      padding-right: 10px;
      order: -1;
    }

    &ImgBox{
      @include pos;
      order: -1;
    };

    &Imges{
      @include pos;
    };;

    &BasketLink{
    @include posRB(20px, 15px);
    z-index: 10;
    };
    
    .sugge__arrow{
      @include posRT(-30px, 40%);
      width: 60px;
      height: auto;
    }
    
    &BasketImg{
      width: 40px;
      height: auto;

      &:hover{
        transform: scale(110%);
      }
    };
  }
}

// 중간 광고 영역
.advert{
  @include basicWidth;
  @include marginY(100px);
}

//에드블록 영역
.adBlock{
  @include padding(8px);
  background: $white;
  width: 100px;
  position: fixed;
  right: 30px;
  bottom: 50px;
  border: 1px solid $gray2;
  text-align: center;

  &__topArrow{
    width: 30px;
  }

  &__title{
    @include paddingY(8px);
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__ImgBox{
    width: 100%;
    height: 300px;
    text-overflow: clip;
    overflow: hidden;
  }

  &__linkImg{
    margin-bottom: 8px;
  }

  &__bottomArrow{
    width: 30px;
    transform: rotate(180deg);
  }
}