@use "./../utils" as *;

// 메인영역 슬라이드 컨테이너
.slide{
  @include pos;
  margin-bottom: 30px;

  &__imgWrapper{
    @include flexbox;
    @include slideImg;
    width: 400%;

    &:hover+.slide__arrow--left,
    &:hover~.slide__arrow--right{
      @include transition(opacity, 0.5s);
      opacity: 1;
    }
  }

  &__arrow--left{
    @include posLT(15%, 50%);
    @include transY(-50%);
    @include transition(opacity, 0.5s);
    opacity: 0;
  }

  &__arrow--right{
    @include posRT(15%, 50%);
    @include transition(opacity, 0.5s);
    transform: translateY(-50%) rotate(180deg);
    opacity : 0;
  }
}


// 메인영역상품 설명 컨테이너
.sugge{
  @include basicWidth;
  @include paddingX(20px);
  margin-top: 30px;

  &__name{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
  }

  &__goods{
    &List{
      @include flexbox($fd:column);
    }

    &Box{
      @include flexbox{
        column-gap: 20px;
      };
    }

    &Title{
      padding-top: 15px;
      height: 45px;
      &:hover{
        color: $primary-color;
        font-weight: 600;
      }
    }
    
    &Link{
      @include flexbox;
      overflow: hidden;

      &:hover>.sugge__goodsImg{
        @include ImageScale;
      }
    }
    
    &Img{
      object-fit: cover;
      @include transition(transform, 0.5s);
      transform: scale(100%);
    };

    &PriceBox{
      padding-top: 20px;
      @include flexbox($fd:column);
    }

    &delPrice{
      color: $gray5;
      font-size: 13px;
      order: 1;
    };

    &CurDisBox{
      @include flexbox;
      padding-bottom: 10px;
      width: 100%;
    }

    &CurrentPrice{
      font-size: 18px;
      font-weight: 600;
    };

    &DiscountPercent{
      color: $accent-color;
      font-size: 22px;
      font-weight: 600;
      padding-right: 10px;
      order: -1;
    }

    &ImgBox{
      @include pos;
      order: -1;
    };

    &Imges{
      @include pos;
    };;

    &BasketLink{
    @include posRB(20px, 15px);
    z-index: 10;
    };
    
    .sugge__arrow{
      @include posRT(-30px, 40%);
      width: 60px;
      height: auto;
    }
    
    &BasketImg{
      width: 40px;
      height: auto;

      &:hover{
        transform: scale(110%);
      }
    };
  }
}

// 중간 광고 영역
.advert{
  @include paddingX(30px);
  @include basicWidth;
  @include marginY(100px);
}

//에드블록 영역
.adBlock{
  @include padding(8px);
  @include flexbox($fd:column);
  background: $white;
  width: 100px;
  position: fixed;
  right: 30px;
  bottom: 50px;
  border: 1px solid $gray2;
  text-align: center;
  z-index: 500;

  &__topArrow{
    @include autoMargin;
    width: 10px;
    order: -1;
    transform: rotate(270deg);
    color: $gray4;
    font-weight: 600;

    &:hover{
      cursor: pointer;
      color: $black;
    }
  }

  &__title{
    @include paddingY(8px);
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__ImgBox{
    width: 100%;
    height: 300px;
    text-overflow: clip;
    overflow: hidden;
  }

  &__linkImg{
    margin-bottom: 8px;
  }

  &__bottomArrow{
    @include autoMargin;
    width: 10px;
    margin-top: 10px;
    transform: rotate(90deg);
    color: $gray4;
    font-weight: 600;

    &:hover{
      cursor: pointer;
      color: $black;
    }
  }
}