<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
  <link rel="icon" type="image/png" sizes="16x16" href="https://res.kurly.com/icons/favicon-16x16.png">
  <link rel="stylesheet" href="../style/index.css" />
  <title>망글망글 마켓칼리</title>
</head>

<body>
  <!-- 베스트 상품 페이지 컨테이너 -->
  <section class="MKBestPage">
    <h3 class="best__title" aria-label="베스트 상품 페이지">베스트</h3>

    <div class="best__main">
      <section class="best__nav">
        <h4 class="best__navTitle a11y" Tabindex="0">베스트 상품 필터 설정</h4>
        <ul class="best__listWrapper">
          <!-- 필터 -->
          <li class="best__listItem">
            <div class="best__titleBox">
              <h5 class="best__listItemTitle">필터</h5>
              <button class="reset" type="reset" aria-label="상품 전체 필터 초기화" Tabindex="0">초기화</button>
            </div>
          </li>
          <!-- 카테고리 -->
          <li class="best__listItem">
            <div class="best__titleBox">
              <h5 class="best__listItemTitle">카테고리</h5>
              <input class="best__listItemMore" type="checkbox" aria-label="상품별 카테고리" />
              <ul class="best__brandList">
                <li class="best__brandName">
                  샐러드·간편식 <span class="best__brandNamecount">75</span>
                  <input class="best__brandNameCheck" type="checkbox" aria-label="샐러드·간편식 제품 개수 75개">
                </li>
                <li class="best__brandName">
                  국·반찬·메인요리 <span class="best__brandNamecount">56</span>
                  <input class="best__brandNameCheck" type="checkbox" aria-label="국·반찬·메인요리 제품 개수 56개">
                </li>
                <li class="best__brandName">
                  정육·계란 <span class="best__brandNamecount">39</span>
                  <input class="best__brandNameCheck" type="checkbox" aria-label="정육·계란 제품 개수 39개">
                </li>
                <li class="best__brandName">
                  과일·견과·쌀 <span class="best__brandNamecount">30</span>
                  <input class="best__brandNameCheck" type="checkbox" aria-label="과일·견과·쌀 제품 개수 30개">
                </li>
                <li class="best__brandName">
                  간식·과자·떡 <span class="best__brandNamecount">19</span>
                  <input class="best__brandNameCheck" type="checkbox" aria-label="간식·과자·떡 제품 개수 19개">
                </li>
                <li class="best__brandName">
                  베이커리·치즈·델리 <span class="best__brandNamecount">18</span>
                  <input class="best__brandNameCheck" type="checkbox" aria-label="베이커리·치즈·델리 제품 개수 18개">
                </li>
                <li class="best__brandName">
                  수산·해산·건어물 <span class="best__brandNamecount">15</span>
                  <input class="best__brandNameCheck" type="checkbox" aria-label="수산·해산·건어물 제품 개수 15개">
                </li>
                <li class="best__brandName">
                  생수·음료·우유·커피 <span class="best__brandNamecount">13</span>
                  <input class="best__brandNameCheck" type="checkbox" aria-label="생수·음료·우유·커피 제품 개수 13개">
                </li>
                <li class="best__brandName">
                  헤어·바디·구강 <span class="best__brandNamecount" aria-label="헤어·바디·구강 제품 개수 11개">11</span>
                  <input class="best__brandNameCheck" type="checkbox">
                </li>
                <li class="best__brandName">
                  <input class="best__brandNameCheck" type="checkbox" aria-label="면·양념·오일 제품 개수 11개">
                  면·양념·오일 <span class="best__brandNamecount">11</span>
                </li>
                <li class="best__brandMore">
                  <a href="#" aria-label="카테고리 더보기">
                    카테고리 더보기 〉
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- 브랜드 -->
          <li class="best__listItem">
            <div class="best__brandtitle">
              <div class="best__titleBox">
                <h5 class="best__listItemTitle">브랜드</h5>
                <input class="best__listItemMore brand" type="checkbox" aria-label="브랜드별 필터 카테고리" />
                <ul class="best__brandList">
                  <li class="best__brandName">
                    감자밭 <span class="best__brandNamecount">1</span>
                    <input class="best__brandNameCheck" type="checkbox" aria-label="감자밭 제품 개수 1개">
                  </li>
                  <li class="best__brandName">
                    강남면옥 <span class="best__brandNamecount">1</span>
                    <input class="best__brandNameCheck" type="checkbox" aria-label="강남면옥 제품 개수 1개">
                  </li>
                  <li class="best__brandName">
                    경남제약 <span class="best__brandNamecount">1</span>
                    <input class="best__brandNameCheck" type="checkbox" aria-label="경남제약 제품 개수 1개">
                  </li>
                  <li class="best__brandName">
                    경복궁 <span class="best__brandNamecount">1</span>
                    <input class="best__brandNameCheck" type="checkbox" aria-label="경복궁 제품 개수 1개">
                  </li>
                  <li class="best__brandName">
                    고래사 <span class="best__brandNamecount">1</span>
                    <input class="best__brandNameCheck" type="checkbox" aria-label="고래사 제품 개수 1개">
                  </li>
                  <li class="best__brandName">
                    고메공방 <span class="best__brandNamecount">1</span>
                    <input class="best__brandNameCheck" type="checkbox" aria-label="고메공방 제품 개수 1개">
                  </li>
                  <li class="best__brandName">
                    고온어다이어트 <span class="best__brandNamecount">1</span>
                    <input class="best__brandNameCheck" type="checkbox" aria-label="고온어다이어트 제품 개수 1개">
                  </li>
                  <li class="best__brandName">
                    교토마블 <span class="best__brandNamecount">1</span>
                    <input class="best__brandNameCheck" type="checkbox" aria-label="교토마블 제품 개수 1개">
                  </li>
                  <li class="best__brandName">
                    그래놀라 하우스 <span class="best__brandNamecount" aria-label="그래놀라 하우스 제품 개수 1개">1</span>
                    <input class="best__brandNameCheck" type="checkbox">
                  </li>
                  <li class="best__brandName">
                    <input class="best__brandNameCheck" type="checkbox" aria-label="그리츠 시그니처 램 제품 개수 1개">
                    그리츠 시그니처 램 <span class="best__brandNamecount">1</span>
                  </li>
                  <li class="best__brandMore">
                    <a href="#" aria-label="브랜드 더보기">
                      브랜드 더보기 〉
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <!-- 가격 -->
          <li class="best__listItem">
            <div class="best__titleBox">
              <h5 class="best__listItemTitle">가격</h5>
              <input class="best__listItemMore price" type="checkbox" aria-label="가격별 필터" />
              <ul class="best__brandList priceList">
                <li class="best__brandName">
                  7,640원 미만 <span class="best__brandNamecount">72</span>
                  <input class="best__brandNameCheck" type="checkbox" aria-label="7,640원 미만 제품 개수 72개">
                </li>
                <li class="best__brandName">
                  7,640원~11,000원 <span class="best__brandNamecount">72</span>
                  <input class="best__brandNameCheck" type="checkbox" aria-label="7,640원~11,000원 제품 개수 72개">
                </li>
                <li class="best__brandName">
                  11,000원~15,900원 <span class="best__brandNamecount">73</span>
                  <input class="best__brandNameCheck" type="checkbox" aria-label="11,000원~15,900원 제품 개수 73개">
                </li>
                <li class="best__brandName">
                  15,900원 이상 <span class="best__brandNamecount">73</span>
                  <input class="best__brandNameCheck" type="checkbox" aria-label="15,900원 이상 제품 개수 73개">
                </li>
              </ul>
            </div>
          </li>
          <!-- 혜택 -->
          <li class="best__listItem">
            <div class="best__titleBox">
              <h5 class="best__listItemTitle">혜택</h5>
              <input class="best__listItemMore benefit" type="checkbox" aria-label="혜택별 필터 " />
              <ul class="best__brandList benefitList">
                <li class="best__brandName">
                  할인상품 <span class="best__brandNamecount">106</span>
                  <input class="best__brandNameCheck" type="checkbox" aria-label="할인상품 제품 개수 106개">
                </li>
                <li class="best__brandName">
                  한정수량 <span class="best__brandNamecount">4</span>
                  <input class="best__brandNameCheck" type="checkbox" aria-label="한정수량 제품 개수 4개">
                </li>
              </ul>
            </div>
          </li>
          <!-- 유형 -->
          <li class="best__listItem">
            <div class="best__titleBox">
              <h5 class="best__listItemTitle">유형</h5>
              <input class="best__listItemMore  benefit" type="checkbox" aria-label="유형별 필터 " />
              <ul class="best__brandList benefitList">
                <li class="best__brandName">
                  Karly Only <span class="best__brandNamecount">121</span>
                  <input class="best__brandNameCheck" type="checkbox" aria-label="Karly Only 제품 개수 121개">
                </li>
                <li class="best__brandName">
                  희소가치 프로젝트 <span class="best__brandNamecount">2</span>
                  <input class="best__brandNameCheck" type="checkbox" aria-label="희소가치 프로젝트 제품 개수 2개">
                </li>
              </ul>
            </div>
          </li>
          <!-- 특정상품 제외 -->
          <li class="best__listItem">
            <div class="best__titleBox">
              <h5 class="best__listItemTitle">특정상품 제외</h5>
              <input class="best__listItemMore specific" type="checkbox" aria-label="특정상품 제외 필터 열기" />
              <ul class="best__brandList specificList">
                <li class="best__brandName">
                  반려동물 상품 <span class="best__brandNamecount">2</span>
                  <input class="best__brandNameCheck" type="checkbox" aria-label="반려동물 상품 제품 개수 2개">
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </section>

      <!-- 베스트 상품 컨테이너 -->
      <div class="best__productContainer">
        <!-- 상품 정보 정리 -->
        <div class="best__arran">
          <div class="best__arranCount" aria-label="베스트 상품 총 284건" tabindex="0">총 284건</div>
          <!-- 상품 정보 필터 -->
          <div class="best__arranFilter">
            <ul class="filter__list">
              <li class="filter__listItem">
                <a href="#">추천순</a>
                <sup class="qui" data-toltip="소비자 인기도(판매량, 판매금액, 조회수 등), 상품 출시일, 수요 적합성, 상품 운영상 필요 등을 종합적으로 고려한 순서입니다."
                  tabindex="0"
                  aria-label="추천순은 소비자 인기도(판매량, 판매금액, 조회수 등), 상품 출시일, 수요 적합성, 상품 운영상 필요 등을 종합적으로 고려한 순서입니다.">?</sup>
              </li>
              <li class=" filter__listItem"><a href="#">신상품순</a>
              </li>
              <li class="filter__listItem"><a href="#">판매량순</a></li>
              <li class="filter__listItem"><a href="#">혜택순</a></li>
              <li class="filter__listItem"><a href="#">낮은 가격순</a></li>
              <li class="filter__listItem"><a href="#">높은 가격순</a></li>
            </ul>
          </div>
        </div>


        <!-- 베스트 상품 리스트 -->
        <div class="best__productBox">
          <div class="best__productBOXline">
            <div class="best__goods">

              <!-- 첫번째상품 -->
              <dl class="best__goodsList">
                <dt class="best__goodsTitle">
                  <a href="#" class="best__goodsTitleLink">
                    <div>[라라스윗] 칼로리가 가벼운 아이스크림 12종 (택1)</div>
                  </a>
                </dt>

                <dd class="best__goodsdelivery" tabindex="0">샛별배송</dd>

                <!-- 아이스크림 가격 컨테이너 -->
                <dd class="best__goodsPriceBox">
                  <p class="best__goodsLastPrice a11y" tabindex="0">원래 가격</p>
                  <p class="best__goodsdelPrice" tabindex="0"><del>7,900 원</del></p>
                  <div class="best__goodsCurDisBox">
                    <p class="best__goodsCurrentPrice a11y" tabindex="0">현재 가격</p>
                    <p class="best__goodsCurrentPrice" tabindex="0">7,110 원</p>
                    <p class="best__goodsDiscount a11y" tabindex="0">할인율</p>
                    <p class="best__goodsDiscountPercent" tabindex="0">10%</p>
                  </div>
                </dd>

                <!-- 아이스크림 설명 -->
                <dd class="best__goodsSummary" tabindex="0">
                  마음 놓고 즐기는 달콤함
                </dd>

                <!-- 아이스크림 상품 이미지 -->
                <dd class="best__goodsImgBox">
                  <p class="best__goodsImges">
                    <a href="#" class="best__goodsLink">
                      <img class="best__goodsImg"
                        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=676/product/image/c981f3df-a122-4eca-9147-d66acdfe6509.jpg"
                        alt="칼로리가 가벼운 아이스크림 상세페이지" />
                    </a>
                    <input class="best__goodsBasketImg" type="checkbox" aria-label="장바구니 담기" />
                  </p>
                </dd>


                <dd class="best__goodsSticker" tabindex="0">
                  <span class="only">Karly only</span>
                  <span class="limit">한정수량</span>
                </dd>
              </dl>

              <!-- 두번째 상품 -->
              <dl class="best__goodsList">
                <dt class="best__goodsTitle">
                  <a href="#" class="best__goodsTitleLink">
                    <div>[KF365] 양념 소불고기 1kg (냉장)</div>
                  </a>
                </dt>

                <dd class="best__goodsdelivery" tabindex="0">샛별배송</dd>

                <!-- 소불고기 가격 컨테이너 -->
                <dd class="best__goodsPriceBox">
                  <p class="best__goodsLastPrice a11y" tabindex="0">원래 가격</p>
                  <p class="best__goodsdelPrice" tabindex="0"><del>19,900 원</del></p>
                  <div class="best__goodsCurDisBox">
                    <p class="best__goodsCurrentPrice a11y" tabindex="0">현재 가격</p>
                    <p class="best__goodsCurrentPrice" tabindex="0">18,990 원</p>
                    <p class="best__goodsDiscount a11y" tabindex="0">할인율</p>
                    <p class="best__goodsDiscountPercent" tabindex="0">5%</p>
                  </div>
                </dd>
                <!-- 삼각주먹밥 설명 -->
                <dd class="best__goodsSummary">
                  달짝 지근한 양념 소불고기
                </dd>
                <!-- 소불고기 상품 이미지 -->
                <dd class="best__goodsImgBox">
                  <p class="best__goodsImges">
                    <a href="#" class="best__goodsLink">
                      <img class="best__goodsImg"
                        src="https://img-cf.kurly.com/cdn-cgi/image/quality=85,width=676/shop/data/goods/165304027922l0.jpg"
                        alt="양념 소불고기 상세페이지" />
                    </a>
                    <input class="best__goodsBasketImg" type="checkbox" aria-label="장바구니 담기" />
                  </p>
                </dd>


                <dd class="best__goodsSticker" tabindex="0">
                  <span class="only">Karly only</span>
                </dd>
              </dl>

              <!-- 세번째 상품 -->
              <dl class="best__goodsList">
                <dt class="best__goodsTitle">
                  <a href="#" class="best__goodsTitleLink">
                    <div>[이연복의 목란] 짬뽕 2인분 (맵기선택)</div>
                  </a>
                </dt>

                <dd class="best__goodsdelivery" tabindex="0">샛별배송</dd>

                <!--이연복 짬뽕 가격 컨테이너 -->
                <dd class="best__goodsPriceBox">
                  <div class="best__goodsCurDisBox">
                    <p class="best__goodsCurrentPrice a11y" tabindex="0">현재 가격</p>
                    <p class="best__goodsCurrentPrice" tabindex="0">13,500 원</p>
                  </div>
                </dd>
                <!-- 이연복 짬뽕 설명 -->
                <dd class="best__goodsSummary">
                  입맛에 맞게 고르는 인기 메뉴
                </dd>
                <!-- 이연복 짬뽕 상품 이미지 -->
                <dd class="best__goodsImgBox">
                  <p class="best__goodsImges">
                    <a href="#" class="best__goodsLink">
                      <img class="best__goodsImg"
                        src="https://img-cf.kurly.com/cdn-cgi/image/quality=85,width=676/shop/data/goods/1657518987370l0.jpg"
                        alt="이연복의 목란 짬뽕 상세페이지" />
                    </a>
                    <input class="best__goodsBasketImg" type="checkbox" aria-label="장바구니 담기" />
                  </p>
                </dd>

              </dl>
            </div>

            <div class="best__goods">

              <!-- 첫번째상품 -->
              <dl class="best__goodsList">
                <dt class="best__goodsTitle">
                  <a href="#" class="best__goodsTitleLink">
                    <div>[라라스윗] 모나카 아이스크림 3종 (택1)</div>
                  </a>
                </dt>

                <dd class="best__goodsdelivery" tabindex="0">샛별배송</dd>

                <!-- 모나카 아이스크림 가격 컨테이너 -->
                <dd class="best__goodsPriceBox">
                  <div class="best__goodsCurDisBox">
                    <p class="best__goodsCurrentPrice a11y" tabindex="0">현재 가격</p>
                    <p class="best__goodsCurrentPrice" tabindex="0">9,400 원</p>
                  </div>
                </dd>

                <!-- 모나카 아이스크림 설명 -->
                <dd class="best__goodsSummary">
                  가볍게 누리는 달콤한 맛
                </dd>
                <!-- 모나카 아이스크림상품 이미지 -->
                <dd class="best__goodsImgBox">
                  <p class="best__goodsImges">
                    <a href="#" class="best__goodsLink">
                      <img class="best__goodsImg"
                        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=676/product/image/1623c3e1-8702-4990-972b-7680839def54.jpg"
                        alt="모나카 아이스크림 상세페이지" />
                    </a>
                    <input class="best__goodsBasketImg" type="checkbox" aria-label="장바구니 담기" />
                  </p>
                </dd>
              </dl>

              <!-- 두번째 상품 -->
              <dl class="best__goodsList">
                <dt class="best__goodsTitle">
                  <a href="#" class="best__goodsTitleLink">
                    <div>[오가마마] 바삭바삭 고구마칩 150g</div>
                  </a>
                </dt>

                <dd class="best__goodsdelivery" tabindex="0">샛별배송</dd>

                <!--고구마칩 가격 컨테이너 -->
                <dd class="best__goodsPriceBox">
                  <div class="best__goodsCurDisBox">
                    <p class="best__goodsCurrentPrice a11y" tabindex="0">현재 가격</p>
                    <p class="best__goodsCurrentPrice" tabindex="0">9,000 원</p>
                  </div>
                </dd>
                <!-- 고구마칩 설명 -->
                <dd class="best__goodsSummary">
                  얇아서 더 바삭한 고구마 과자
                </dd>
                <!-- 고구마칩 상품 이미지 -->
                <dd class="best__goodsImgBox">
                  <p class="best__goodsImges">
                    <a href="#" class="best__goodsLink">
                      <img class="best__goodsImg"
                        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=676/product/image/945d6195-852f-4719-ba12-a9d4d4478f1d.jpg"
                        alt="고구마칩 상세페이지" />
                    </a>
                    <input class="best__goodsBasketImg" type="checkbox" aria-label="장바구니 담기" />
                  </p>
                </dd>

              </dl>

              <!-- 세번째 상품 -->
              <dl class="best__goodsList">
                <dt class="best__goodsTitle">
                  <a href="#" class="best__goodsTitleLink">
                    <div>[복음자리] 45도 과일잼 3종 (택1)</div>
                  </a>
                </dt>

                <dd class="best__goodsdelivery" tabindex="0">샛별배송</dd>

                <!-- 과일잼 가격 컨테이너 -->
                <dd class="best__goodsPriceBox">
                  <p class="best__goodsLastPrice a11y" tabindex="0">원래 가격</p>
                  <p class="best__goodsdelPrice" tabindex="0"><del>5,180 원</del></p>
                  <div class="best__goodsCurDisBox">
                    <p class="best__goodsCurrentPrice a11y" tabindex="0">현재 가격</p>
                    <p class="best__goodsCurrentPrice" tabindex="0">4,662 원</p>
                    <p class="best__goodsDiscount a11y" tabindex="0">할인율</p>
                    <p class="best__goodsDiscountPercent" tabindex="0">10%</p>
                  </div>
                </dd>
                <!-- 과일잼 설명 -->
                <dd class="best__goodsSummary">
                  오롯이 살린 과일의 풍미
                </dd>
                <!-- 과일잼 상품 이미지 -->
                <dd class="best__goodsImgBox">
                  <p class="best__goodsImges">
                    <a href="#" class="best__goodsLink">
                      <img class="best__goodsImg"
                        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=676/product/image/2b49f9e7-cb67-459d-ad93-c3585dfc8555.jpg"
                        alt="복음자리 과일잼 상세페이지" />
                    </a>
                    <input class="best__goodsBasketImg" type="checkbox" aria-label="장바구니 담기" />
                  </p>
                </dd>


                <dd class="best__goodsSticker" tabindex="0">
                  <span class="only">Karly only</span>
                  <span class="limit">한정수량</span>
                </dd>
              </dl>
            </div>

            <div class="best__goods">

              <!-- 첫번째상품 -->
              <dl class="best__goodsList">
                <dt class="best__goodsTitle">
                  <a href="#" class="best__goodsTitleLink">
                    <div>[제스프리] 뉴질랜드 골드키위 1.1kg (7~10입)</div>
                  </a>
                </dt>

                <dd class="best__goodsdelivery" tabindex="0">샛별배송</dd>

                <!-- 골드키위 가격 컨테이너 -->
                <dd class="best__goodsPriceBox">
                  <p class="best__goodsLastPrice a11y" tabindex="0">원래 가격</p>
                  <p class="best__goodsdelPrice" tabindex="0"><del>16,900 원</del></p>
                  <div class="best__goodsCurDisBox">
                    <p class="best__goodsCurrentPrice a11y" tabindex="0">현재 가격</p>
                    <p class="best__goodsCurrentPrice" tabindex="0">12,900 원</p>
                    <p class="best__goodsDiscount a11y" tabindex="0">할인율</p>
                    <p class="best__goodsDiscountPercent" tabindex="0">23%</p>
                  </div>
                </dd>
                <!-- 골드키위 설명 -->
                <dd class="best__goodsSummary">
                  뉴질랜드에서 온 촉촉한 달콤함
                </dd>
                <!-- 골드키위 상품 이미지 -->
                <dd class="best__goodsImgBox">
                  <p class="best__goodsImges">
                    <a href="#" class="best__goodsLink">
                      <img class="best__goodsImg"
                        src="https://img-cf.kurly.com/cdn-cgi/image/quality=85,width=676/shop/data/goods/1650348343574l0.jpg"
                        alt="뉴질랜드 골드키위 상세페이지" />
                    </a>
                    <input class="best__goodsBasketImg" type="checkbox" aria-label="장바구니 담기" />
                  </p>
                </dd>

              </dl>

              <!-- 두번째 상품 -->
              <dl class="best__goodsList">
                <dt class="best__goodsTitle">
                  <a href="#" class="best__goodsTitleLink">
                    <div>[KF365] 국산 블루베리 200g</div>
                  </a>
                </dt>

                <dd class="best__goodsdelivery" tabindex="0">샛별배송</dd>

                <!-- 블루베리 가격 컨테이너 -->
                <dd class="best__goodsPriceBox">
                  <div class="best__goodsCurDisBox">
                    <p class="best__goodsCurrentPrice a11y" tabindex="0">현재 가격</p>
                    <p class="best__goodsCurrentPrice" tabindex="0">8,990 원</p>
                  </div>
                </dd>
                <!-- 블루베리 설명 -->
                <dd class="best__goodsSummary">
                  한 알 한 알 즐거움을 안겨줄
                </dd>
                <!-- 블루베리 상품 이미지 -->
                <dd class="best__goodsImgBox">
                  <p class="best__goodsImges">
                    <a href="#" class="best__goodsLink">
                      <img class="best__goodsImg"
                        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=676/product/image/ee17bd9e-1561-46af-a7bb-d9731361a243.jpg"
                        alt="국산 블루베리 상세페이지" />
                    </a>
                    <input class="best__goodsBasketImg" type="checkbox" aria-label="장바구니 담기" />
                  </p>
                </dd>


                <dd class="best__goodsSticker" tabindex="0">
                  <span class="only">Karly only</span>
                </dd>
              </dl>

              <!-- 세번째 상품 -->
              <dl class="best__goodsList">
                <dt class="best__goodsTitle">
                  <a href="#" class="best__goodsTitleLink">
                    <div>[델리치오] 호주산 목초육 안심 스테이크 250g (냉장)</div>
                  </a>
                </dt>

                <dd class="best__goodsdelivery" tabindex="0">샛별배송</dd>

                <!-- 목초육 가격 컨테이너 -->
                <dd class="best__goodsPriceBox">
                  <div class="best__goodsCurDisBox">
                    <p class="best__goodsCurrentPrice a11y" tabindex="0">현재 가격</p>
                    <p class="best__goodsCurrentPrice" tabindex="0">4,950 원</p>
                  </div>
                </dd>
                <!-- 목초육 상품 이미지 -->
                <dd class="best__goodsImgBox">
                  <p class="best__goodsImges">
                    <a href="#" class="best__goodsLink">
                      <img class="best__goodsImg"
                        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=676/product/image/01a2da11-572d-4c35-bfaa-919b362e5e30.jpeg"
                        alt="호주산 안심 스테이크 상세페이지" />
                    </a>
                    <input class="best__goodsBasketImg" type="checkbox" aria-label="장바구니 담기" />
                  </p>
                </dd>

                <dd class="best__goodsSticker" tabindex="0">
                  <span class="only">Karly only</span>
                </dd>
              </dl>
            </div>

            <div class="best__goods">

              <!-- 첫번째상품 -->
              <dl class="best__goodsList">
                <dt class="best__goodsTitle">
                  <a href="#" class="best__goodsTitleLink">
                    <div>[Karly's] 동물복지 유정란 20구</div>
                  </a>
                </dt>

                <dd class="best__goodsdelivery" tabindex="0">샛별배송</dd>

                <!-- 유정란 가격 컨테이너 -->
                <dd class="best__goodsPriceBox">
                  <p class="best__goodsLastPrice a11y" tabindex="0">원래 가격</p>
                  <p class="best__goodsdelPrice" tabindex="0"><del>9,990 원</del></p>
                  <div class="best__goodsCurDisBox">
                    <p class="best__goodsCurrentPrice a11y" tabindex="0">현재 가격</p>
                    <p class="best__goodsCurrentPrice" tabindex="0">8,991 원</p>
                    <p class="best__goodsDiscount a11y" tabindex="0">할인율</p>
                    <p class="best__goodsDiscountPercent" tabindex="0">10%</p>
                  </div>
                </dd>
                <!-- 유정란 설명 -->
                <dd class="best__goodsSummary">
                  1구 당 판매가 : 499.5원
                </dd>
                <!-- 유정란 상품 이미지 -->
                <dd class="best__goodsImgBox">
                  <p class="best__goodsImges">
                    <a href="#" class="best__goodsLink">
                      <img class="best__goodsImg"
                        src="https://product-image.kurly.com/product/image/ee5543e6-fb2f-4803-80f8-23704176d3ea.jpg"
                        alt="동물복지 유정란 상세페이지" />
                    </a>
                    <input class="best__goodsBasketImg" type="checkbox" aria-label="장바구니 담기" />
                  </p>
                </dd>


                <dd class="best__goodsSticker" tabindex="0">
                  <span class="only">Karly only</span>
                  <span class="limit">한정수량</span>
                </dd>
              </dl>

              <!-- 두번째 상품 -->
              <dl class="best__goodsList">
                <dt class="best__goodsTitle">
                  <a href="#" class="best__goodsTitleLink">
                    <div>[KF365] 춘천식 닭갈비 1kg (냉장)</div>
                  </a>
                </dt>

                <dd class="best__goodsdelivery" tabindex="0">샛별배송</dd>

                <!-- 닭갈비 가격 컨테이너 -->
                <dd class="best__goodsPriceBox">
                  <div class="best__goodsCurDisBox">
                    <p class="best__goodsCurrentPrice a11y" tabindex="0">현재 가격</p>
                    <p class="best__goodsCurrentPrice" tabindex="0">12,900 원</p>
                  </div>
                </dd>
                <!-- 닭갈비 상품 이미지 -->
                <dd class="best__goodsImgBox">
                  <p class="best__goodsImges">
                    <a href="#" class="best__goodsLink">
                      <img class="best__goodsImg"
                        src="https://img-cf.kurly.com/cdn-cgi/image/quality=85,width=676/shop/data/goods/1653040325647l0.jpg"
                        alt="춘천식 닭갈비 상세페이지" />
                    </a>
                    <input class="best__goodsBasketImg" type="checkbox" aria-label="장바구니 담기" />
                  </p>
                </dd>

                <dd class="best__goodsSticker" tabindex="0">
                  <span class="only">Karly only</span>
                </dd>
              </dl>

              <!-- 세번째 상품 -->
              <dl class="best__goodsList">
                <dt class="best__goodsTitle">
                  <a href="#" class="best__goodsTitleLink">
                    <div>[또보겠지떡볶이집] 떡볶이 1봉/2봉 (맵기선택)</div>
                  </a>
                </dt>

                <dd class="best__goodsdelivery" tabindex="0">샛별배송</dd>

                <!-- 떡볶이 가격 컨테이너 -->
                <dd class="best__goodsPriceBox">
                  <p class="best__goodsLastPrice a11y" tabindex="0">원래 가격</p>
                  <p class="best__goodsdelPrice" tabindex="0"><del>5,900 원</del></p>
                  <div class="best__goodsCurDisBox">
                    <p class="best__goodsCurrentPrice a11y" tabindex="0">현재 가격</p>
                    <p class="best__goodsCurrentPrice" tabindex="0">5,310 원</p>
                    <p class="best__goodsDiscount a11y" tabindex="0">할인율</p>
                    <p class="best__goodsDiscountPercent" tabindex="0">10%</p>
                  </div>
                </dd>
                <!-- 떡볶이 설명 -->
                <dd class="best__goodsSummary">
                  새롭게 재해석한 홍대 맛집 떡볶이
                </dd>
                <!-- 떡볶이 상품 이미지 -->
                <dd class="best__goodsImgBox">
                  <p class="best__goodsImges">
                    <a href="#" class="best__goodsLink">
                      <img class="best__goodsImg"
                        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=676/product/image/f3575442-22d2-4375-acad-1cd4e8a1cf37.jpg"
                        alt="또보겠지 떡볶이 상세페이지" />
                    </a>
                    <input class="best__goodsBasketImg" type="checkbox" aria-label="장바구니 담기" />
                  </p>
                </dd>


                <dd class="best__goodsSticker" tabindex="0">
                  <span class="only">Karly only</span>
                  <span class="limit">한정수량</span>
                </dd>
              </dl>
            </div>

            <div class="best__goods">

              <!-- 첫번째상품 -->
              <dl class="best__goodsList">
                <dt class="best__goodsTitle">
                  <a href="#" class="best__goodsTitleLink">
                    <div>[백리향] 삼선짬뽕 2인분 (리뉴얼)</div>
                  </a>
                </dt>

                <dd class="best__goodsdelivery" tabindex="0">샛별배송</dd>

                <!-- 삼선짬뽕 가격 컨테이너 -->
                <dd class="best__goodsPriceBox">
                  <p class="best__goodsLastPrice a11y" tabindex="0">원래 가격</p>
                  <p class="best__goodsdelPrice" tabindex="0"><del>11,900 원</del></p>
                  <div class="best__goodsCurDisBox">
                    <p class="best__goodsCurrentPrice a11y" tabindex="0">현재 가격</p>
                    <p class="best__goodsCurrentPrice" tabindex="0">10,710 원</p>
                    <p class="best__goodsDiscount a11y" tabindex="0">할인율</p>
                    <p class="best__goodsDiscountPercent" tabindex="0">10%</p>
                  </div>
                </dd>
                <!-- 삼각주먹밥 설명 -->
                <dd class="best__goodsSummary">
                  집으로 온 백리향의 히든 메뉴
                </dd>
                <!-- 삼선짬뽕 상품 이미지 -->
                <dd class="best__goodsImgBox">
                  <p class="best__goodsImges">
                    <a href="#" class="best__goodsLink">
                      <img class="best__goodsImg"
                        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=676/product/image/24959c27-13da-4e38-a37f-185f4426a7de.jpg"
                        alt="백리향 삼선짬뽕 상세페이지" />
                    </a>
                    <input class="best__goodsBasketImg" type="checkbox" aria-label="장바구니 담기" />
                  </p>
                </dd>


                <dd class="best__goodsSticker" tabindex="0">
                  <span class="limit">한정수량</span>
                </dd>
              </dl>

              <!-- 두번째 상품 -->
              <dl class="best__goodsList">
                <dt class="best__goodsTitle">
                  <a href="#" class="best__goodsTitleLink">
                    <div>[리틀넥] 명란 크림 파스타</div>
                  </a>
                </dt>

                <dd class="best__goodsdelivery" tabindex="0">샛별배송</dd>

                <!-- 파스타 가격 컨테이너 -->
                <dd class="best__goodsPriceBox">
                  <p class="best__goodsLastPrice a11y" tabindex="0">원래 가격</p>
                  <p class="best__goodsdelPrice" tabindex="0"><del>8,700 원</del></p>
                  <div class="best__goodsCurDisBox">
                    <p class="best__goodsCurrentPrice a11y" tabindex="0">현재 가격</p>
                    <p class="best__goodsCurrentPrice" tabindex="0">7,830 원</p>
                    <p class="best__goodsDiscount a11y" tabindex="0">할인율</p>
                    <p class="best__goodsDiscountPercent" tabindex="0">10%</p>
                  </div>
                </dd>
                <!-- 파스타 설명 -->
                <dd class="best__goodsSummary">
                  짭조름한 풍미가 부드럽게 녹아든
                </dd>
                <!-- 파스타 상품 이미지 -->
                <dd class="best__goodsImgBox">
                  <p class="best__goodsImges">
                    <a href="#" class="best__goodsLink">
                      <img class="best__goodsImg"
                        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=676/product/image/bd3fea5c-38c0-4e7f-8e0a-669e51bd052b.jpg"
                        alt="명란 크림 파스타 상세페이지" />
                    </a>
                    <input class="best__goodsBasketImg" type="checkbox" aria-label="장바구니 담기" />
                  </p>
                </dd>


                <dd class="best__goodsSticker" tabindex="0">
                  <span class="only">Karly only</span>
                </dd>
              </dl>

              <!-- 세번째 상품 -->
              <dl class="best__goodsList">
                <dt class="best__goodsTitle">
                  <a href="#" class="best__goodsTitleLink">
                    <div>[멘야하나비] 카레 마제소바 2인분</div>
                  </a>
                </dt>

                <dd class="best__goodsdelivery" tabindex="0">샛별배송</dd>

                <!-- 마제소바 가격 컨테이너 -->
                <dd class="best__goodsPriceBox">
                  <p class="best__goodsLastPrice a11y" tabindex="0">원래 가격</p>
                  <p class="best__goodsdelPrice" tabindex="0"><del>14,900 원</del></p>
                  <div class="best__goodsCurDisBox">
                    <p class="best__goodsCurrentPrice a11y" tabindex="0">현재 가격</p>
                    <p class="best__goodsCurrentPrice" tabindex="0">13,708 원</p>
                    <p class="best__goodsDiscount a11y" tabindex="0">할인율</p>
                    <p class="best__goodsDiscountPercent" tabindex="0">8%</p>
                  </div>
                </dd>
                <!-- 마제소바 설명 -->
                <dd class="best__goodsSummary">
                  카레의 짙은 풍미가 곁들여진
                </dd>
                <!-- 마제소바 상품 이미지 -->
                <dd class="best__goodsImgBox">
                  <p class="best__goodsImges">
                    <a href="#" class="best__goodsLink">
                      <img class="best__goodsImg"
                        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=676/product/image/06509774-6572-4967-b792-8da1f7f60898.jpg"
                        alt="멘야하나비 마제소바 상세페이지" />
                    </a>
                    <input class="best__goodsBasketImg" type="checkbox" aria-label="장바구니 담기" />
                  </p>
                </dd>

              </dl>
            </div>

            <div class="best__goods">

              <!-- 첫번째상품 -->
              <dl class="best__goodsList">
                <dt class="best__goodsTitle">
                  <a href="#" class="best__goodsTitleLink">
                    <div>[해태] 홈런볼 초코 4번들 164g</div>
                  </a>
                </dt>

                <dd class="best__goodsdelivery" tabindex="0">샛별배송</dd>

                <!-- 홈런볼 가격 컨테이너 -->
                <dd class="best__goodsPriceBox">
                  <p class="best__goodsLastPrice a11y" tabindex="0">원래 가격</p>
                  <p class="best__goodsdelPrice" tabindex="0"><del>4,780 원</del></p>
                  <div class="best__goodsCurDisBox">
                    <p class="best__goodsCurrentPrice a11y" tabindex="0">현재 가격</p>
                    <p class="best__goodsCurrentPrice" tabindex="0">3,900 원</p>
                    <p class="best__goodsDiscount a11y" tabindex="0">할인율</p>
                    <p class="best__goodsDiscountPercent" tabindex="0">18%</p>
                  </div>
                </dd>
                <!-- 홈런볼 설명 -->
                <dd class="best__goodsSummary">
                  폭신한 슈를 꽉 채운 달콤함
                </dd>
                <!-- 홈런볼 상품 이미지 -->
                <dd class="best__goodsImgBox">
                  <p class="best__goodsImges">
                    <a href="#" class="best__goodsLink">
                      <img class="best__goodsImg"
                        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=676/product/image/ee6e3a75-5369-4918-a63a-575157d2d757.jpg"
                        alt="홈런볼 상세페이지" />
                    </a>
                    <input class="best__goodsBasketImg" type="checkbox" aria-label="장바구니 담기" />
                  </p>
                </dd>

              </dl>

              <!-- 두번째 상품 -->
              <dl class="best__goodsList">
                <dt class="best__goodsTitle">
                  <a href="#" class="best__goodsTitleLink">
                    <div>[마켓오네이처] 오! 그래놀라 퍼니 스낵 3종 (택1)</div>
                  </a>
                </dt>

                <dd class="best__goodsdelivery" tabindex="0">샛별배송</dd>

                <!-- 오!그래놀라 가격 컨테이너 -->
                <dd class="best__goodsPriceBox">
                  <p class="best__goodsLastPrice a11y" tabindex="0">원래 가격</p>
                  <p class="best__goodsdelPrice" tabindex="0"><del>5,980 원</del></p>
                  <div class="best__goodsCurDisBox">
                    <p class="best__goodsCurrentPrice a11y" tabindex="0">현재 가격</p>
                    <p class="best__goodsCurrentPrice" tabindex="0">5,200 원</p>
                    <p class="best__goodsDiscount a11y" tabindex="0">할인율</p>
                    <p class="best__goodsDiscountPercent" tabindex="0">13%</p>
                  </div>
                </dd>
                <!-- 오!그래놀라 설명 -->
                <dd class="best__goodsSummary">
                  초코바나나 신규 출시!
                </dd>
                <!-- 오!그래놀라 상품 이미지 -->
                <dd class="best__goodsImgBox">
                  <p class="best__goodsImges">
                    <a href="#" class="best__goodsLink">
                      <img class="best__goodsImg"
                        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=676/product/image/e66ec168-e057-47dd-a1da-38a034ccff85.jpg"
                        alt="마켓오 네이처 오그래놀라 상세페이지" />
                    </a>
                    <input class="best__goodsBasketImg" type="checkbox" aria-label="장바구니 담기" />
                  </p>
                </dd>


                <dd class="best__goodsSticker" tabindex="0">
                  <span class="only">Karly only</span>
                  <span class="limit">한정수량</span>
                </dd>
              </dl>

              <!-- 세번째 상품 -->
              <dl class="best__goodsList">
                <dt class="best__goodsTitle">
                  <a href="#" class="best__goodsTitleLink">
                    <div>[피쉬셀] 프리미엄 생새우살 454g (냉동) (26/30 사이즈)</div>
                  </a>
                </dt>

                <dd class="best__goodsdelivery" tabindex="0">샛별배송</dd>

                <!-- 생새우살 가격 컨테이너 -->
                <dd class="best__goodsPriceBox">
                  <p class="best__goodsLastPrice a11y" tabindex="0">원래 가격</p>
                  <p class="best__goodsdelPrice" tabindex="0"><del>14,900 원</del></p>
                  <div class="best__goodsCurDisBox">
                    <p class="best__goodsCurrentPrice a11y" tabindex="0">현재 가격</p>
                    <p class="best__goodsCurrentPrice" tabindex="0">11,550 원</p>
                    <p class="best__goodsDiscount a11y" tabindex="0">할인율</p>
                    <p class="best__goodsDiscountPercent" tabindex="0">22%</p>
                  </div>
                </dd>
                <!-- 생새우살 설명 -->
                <dd class="best__goodsSummary">
                  큼직한 새우를 선별
                </dd>
                <!-- 생새우살 상품 이미지 -->
                <dd class="best__goodsImgBox">
                  <p class="best__goodsImges">
                    <a href="#" class="best__goodsLink">
                      <img class="best__goodsImg"
                        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=676/product/image/4d615329-a172-4563-94cc-e22f906d9223.jpg"
                        alt="프리미엄 생새우살 상세페이지" />
                    </a>
                    <input class="best__goodsBasketImg" type="checkbox" aria-label="장바구니 담기" />
                  </p>
                </dd>


                <dd class="best__goodsSticker" tabindex="0">
                  <span class="limit">한정수량</span>
                </dd>
              </dl>
            </div>


            <!-- 베스트 상품 페이지 넘버 -->
            <div class="best__pageNum">
              <table class="best__pageNumContainer">
                <tr>
                  <td><a href="#" aria-label="첫번째 페이지로 이동">≪</a></td>
                  <td><a href="#" aria-label="이전 페이지로 이동">＜</a></td>
                  <td><a href="#" aria-label="첫번째 페이지">1</a></td>
                  <td><a href="#" aria-label="두번째 페이지">2</a></td>
                  <td><a href="#" aria-label="세번째 페이지">3</a></td>
                  <td><a href="#" aria-label="네번째 페이지">4</a></td>
                  <td><a href="#" aria-label="다음 페이지로 이동">＞</a></td>
                  <td><a href="#" aria-label="마지막 페이지로 이동">≫</a></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


  <!-- 에드블록 -->
  <aside class="adBlock">
    <h4 class="adBlock__title" tabindex="0">최근 본 상품</h4>
    <div class="adBlock__ImgBox">
      <a href="#" class="adBlock__link">
        <img class="adBlock__linkImg"
          src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=676/product/image/63032c27-2f5d-4412-bdf0-306411a780e0.jpg"
          alt="하겐다즈 스페셜 아이스크림 상세페이지" />
      </a>
      <a href="#" class="adBlock__link">
        <img class="adBlock__linkImg"
          src="https://img-cf.kurly.com/cdn-cgi/image/quality=85,width=676/shop/data/goods/1653543441999l0.jpg"
          alt="커피빈 바닐라 라떼 파우치 상세페이지" />
      </a>
      <a href="#" class="adBlock__link">
        <img class="adBlock__linkImg"
          src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=676/product/image/18eb7a26-cc76-4c5b-b30f-8c6a175e2917.jpg"
          alt="폴바셋 푸딩 상세페이지" />
      </a>
    </div>
    <p class="adBlock__topArrow" tabindex="0" aria-label="최근 본 상품 더보기 위로"> 〉</p>
    <p class="adBlock__bottomArrow" tabindex="0" aria-label="최근 본 상품 더보기 아래로">〉</p>
  </aside>
</body>

</html>