<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>망글망글 마켓칼리 - 로그인</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://res.kurly.com/icons/favicon-16x16.png" />
    <link rel="stylesheet" href="/style/index.css" />
  </head>

  <body>
    <!-- TODO 헤더 및 푸터 삽입 -->

    <section class="login">
      <h3 class="login__title" tabindex="0">로그인</h3>
      <form action="url" class="login__form" method="post">
        <fieldset>
          <legend class="a11y">로그인 폼</legend>
          <label for="userId" class="a11y">아이디</label>
          <input type="text" class="login__userId" id="userId" aria-label="아이디 입력란" placeholder="아이디를 입력해주세요." maxlength="24" required />
          <label for="userPassword" class="a11y">비밀번호</label>
          <input type="password" class="login__userPassword" id="userPassword" aria-label="비밀번호 입력란" placeholder="비밀번호를 입력해주세요." minlength="8" maxlength="16" required />
          <p class="login__search">
            <a href="#" class="login__searchId">아이디 찾기</a>
            <span aria-hidden="true">&#124;</span>
            <a href="#" class="login__searchPassword">비밀번호 찾기</a>
          </p>
          <button class="login__button">로그인</button>
        </fieldset>
      </form>
      <a href="sign-up.html" class="signUp__link">회원가입</a>
    </section>
  </body>
</html>