<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
  <link rel="icon" type="image/png" sizes="16x16" href="https://res.kurly.com/icons/favicon-16x16.png">
  <link rel="stylesheet" href="../style/index.css" />
  <title>망글망글 마켓칼리</title>
</head>

<body>
  <section class="MKspecialPage">
    <a href="#" class="special__link">
      <img
        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=1050/banner/event/da54b3e5-7482-466f-b3db-d76b25ecb05f.jpg"
        alt="썸머 펫 페어 최대 50% 할인 및 증정 이벤트" />
    </a>

    <a href="#" class="special__link">
      <img
        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=1050/banner/event/81f64768-fe32-4032-8cdb-cf25bb73996f.jpg"
        alt="금미옥 떡볶이 50% 역대급 할인" />
    </a>

    <a href="#" class="special__link">
      <img
        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=1050/banner/event/4c296a26-860f-4ab6-a4be-f78aa57ccc5f.jpg"
        alt="인기 맛집 최대 12% 할인" />
    </a>

    <a href="#" class="special__link">
      <img
        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=1050/banner/event/d9a9b378-c793-4bec-955d-988d1d3b397d.jpg"
        alt="금주의 과일 최대 17% 할인" />
    </a>

    <a href="#" class="special__link">
      <img
        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=1050/banner/event/390e0a0e-58f4-43b6-8028-7da70fdff9ba.jpg"
        alt="간식 쟁여두기 최대 20% 할인" />
    </a>

    <a href="#" class="special__link">
      <img
        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=1050/banner/event/7a6b5578-039e-4d5a-909d-2cafaa4a9423.jpg"
        alt="아이스크림 최대 36% 할인" />
    </a>

    <a href="#" class="special__link">
      <img
        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=1050/banner/event/8cfb193d-a350-40ac-8c09-97b504acb1aa.jpg"
        alt="이번주 추천 특가템 보러가기" />
    </a>

    <a href="#" class="special__link">
      <img
        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=1050/banner/event/dd0b26b0-8157-4baf-a5f1-79b67a211711.jpg"
        alt="고기반찬 최대 15% 핧인" />
    </a>

    <a href="#" class="special__link">
      <img
        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=1050/banner/event/af81e54e-61fd-4642-975a-4e6cc0e6f846.jpg"
        alt="노티드 인기템 특가 보러가기" />
    </a>

    <a href="#" class="special__link">
      <img
        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=1050/banner/event/44c3f3a0-c153-4523-97d9-66246c5f0f3d.jpg"
        alt="컬리 베이비페어 최대 54% 할인" />
    </a>

    <a href="#" class="special__link">
      <img
        src="https://product-image.kurly.com/cdn-cgi/image/quality=85,width=1050/banner/event/52db0c74-edef-442c-b3b7-4441b26c130c.jpg"
        alt="커피빈 최대 12% 할인" />
    </a>
  </section>
</body>

</html>