@use "./../utils" as *;

.footer__box {
  border-top: 1px solid lightgrey;
}

.service__info {
  display: flex;
  line-height: 1.6;
  border-bottom: 1px solid lightgrey;
  justify-content: space-between;
  @include paddingY(28px);
}

.footer__wrapper {
  @include basicWidth;
}

.inquery__center {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 16px;
}

.inquery__number {
  font-size: 38px;
  font-weight: 700;
}
.text__bold {
  font-size: 16px;
  margin-left: 8px;
  font-weight: 600px;
}

.inquery__time {
  margin-left: 16px;
  font-size: 16px;
}

.inquery__mail {
  margin: 20px 0;
}

.inquery__email {
  font-size: 16px;
}

.p__color {
  color: $primary_color;
  font-weight: 600;
}

.inquery__list {
  display: flex;
  @include marginY(16px);
}

.inquery__title {
  border: 1px solid rgb(214, 211, 211);
  @include marginY(6px);
}

.inquery__link {
  display: inline-block;
  text-align: center;
  width: 140px;
  @include paddingY(7px);
}

.address__data {
  font-size: 12px;
  @include marginY(28px);
}

.sns__logo {
  display: flex;
  column-gap: 20px;
}

.sns__logo img {
  width: 25px;
  height: 25px;
}

.info__link {
  display: flex;
  font-size: 16px;
  letter-spacing: 1px;
  column-gap: 10px;
}

.footer__logo {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  line-height: 160%;
  padding: 20px 0 32px 0;
}

.another__logo {
  display: flex;
  flex-wrap: nowrap;
}

.another__logo img {
  width: 20px;
  height: 20px;
  margin: 10px 5px 0 0;
}

.another__logo .toss__logo {
  width: 80px;
}

.toss {
  width: 190px;
}

.woori {
  width: 240px;
}

.last__footer {
  font-size: 10px;
  text-align: center;
  height: 100px;
  background: #f7f7f7;
  line-height: 10px;
  line-height: 160%;
  padding: 20px 4px 40px 4px;
}

.copyright {
  margin-top: 8px;
}
