.service__info {
    max-width: 2024px;
    display: flex;
    margin-left: 100px;
    margin-bottom: 50px;
    border-bottom: 1px solid #000000;
    margin: 50px 70px; 
    line-height: 20px;
    
}

.address {
    font-style: none;
}

h3 {
    font-size: 16px;
}


.address__number {
    font-size: 30px;
    font-weight: 900;

}

.inquery__time {
    font-size: 12px;
    font-weight: 600;
}

.inquery__list {
    display: flex;
}

.inquery__title {
    background: white;
    border: 1px solid black;
    width: 90px;
    height: 25px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    line-height: 2.5;
}

.text__bold {
    font-size: 12px;
    margin: 10px;
} 
.address__data {
    margin: 10px;
}
.address__info {
    margin-left: 100px;
}
.info__link{
    display: flex;
    flex-direction: wrap;
}
.another__footer {
    display: flex;
    font-size: 10px;
}


 
