@use "./../utils" as *;

.service__info {
    @include basicWidth;
    display: flex;
    margin-left: 190px;
    margin-bottom: 10px;
    line-height: 20px;
    font-weight: 600;
    border-bottom: 1px solid lightgrey;
    justify-content: space-around;

}

h3 {
    font-size: 13px;
    font-weight: 900;
}

.inquery__center {
    margin: 20px 0;
}

.inquery__number {
    font-size: 25px;
    font-weight: 900;
}

.inquery__time {
    margin: 7px 0 0 10px;
    font-size: 12px;
}

.inquery__mail {
    margin: 20px 0;
}

.inquery__email {
    font-size: 12px;

}

.inquery__list {
    display: flex;
}

.inquery__title {
    border: 1px solid gray;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    line-height: 2.5;
}

.text__bold {
    font-size: 12px;

}

.address__data {
    font-size: 12px;
    margin-top: 20px;

}

.sns__logo img {
    margin-top: 20px;
    width: 25px;
    height: 25px;

}


.address__info {
    margin-left: 100px;
}

.info__link {
    display: flex;
    padding: 30px 0 10px;
    font-size: 14px;
    letter-spacing: 1px;
    column-gap: 10px;
}

.footer__logo {
    margin: 0 0 0 200px;
    display: flex;
    font-size: 10px;
    column-gap: 10px;
    line-height: 160%
}

.another__logo {
    display: flex;
    margin-top: 10px;

}

.another__logo img {
    width: 30px;
    height: 40px;
    margin-right: 5px;
}

.another__logo .toss__logo {
    width: 80px;

}

.last__footer {
    margin: 30px 30px;
    font-size: 10px;
    text-align: center;
    height: 80px;
    background: #f7f7f7;
    line-height: 10px;
    line-height: 160%;
}